In [121]:
import os
import glob
import importlib
import re

import numpy as np
import pandas as pd


import xbrl_image_parser as xip

from IPython.display import HTML
from tqdm import tqdm_notebook
from PIL import Image as im
from pytesseract import image_to_data

In [2]:
wrk_dir = os.getcwd()
os.chdir(f"{os.getcwd()}/data/old/read_check/wrong")
pdf_lst = glob.glob("*.pdf")
os.chdir(wrk_dir)

In [3]:
wrk_dir = os.getcwd()
os.chdir(f"{os.getcwd()}/data/old/read_check/right")
comp_pdf_lst = glob.glob("*.pdf")
os.chdir(wrk_dir)

we follow each step in xip.process_PDF and see where it gets us

In [33]:
data_lst = [xip.ocr_pdf(f"{os.getcwd()}/data/old/read_check/wrong/{file}")
            for file in tqdm_notebook(pdf_lst)]

HBox(children=(IntProgress(value=0, max=25), HTML(value='')))

Converting PDF image to multiple png files
/home/edd/Documents/Projects/companies_house/explore/data/old/read_check/wrong/10582063_2018-10-31.pdf
Performing pre-processing on all png images
Converting PDF image to multiple png files
/home/edd/Documents/Projects/companies_house/explore/data/old/read_check/wrong/03790585_2018-09-30.pdf
Performing pre-processing on all png images
Converting PDF image to multiple png files
/home/edd/Documents/Projects/companies_house/explore/data/old/read_check/wrong/02709473_2019-01-17.pdf
Performing pre-processing on all png images
Converting PDF image to multiple png files
/home/edd/Documents/Projects/companies_house/explore/data/old/read_check/wrong/09618523_2018-02-21.pdf
Performing pre-processing on all png images
Converting PDF image to multiple png files
/home/edd/Documents/Projects/companies_house/explore/data/old/read_check/wrong/10832155_2019-02-05.pdf
Performing pre-processing on all png images
Converting PDF image to multiple png files
/home/edd/Documents/Projects/companies_house/explore/data/old/read_check/wrong/10602392_2018-10-17.pdf
Performing pre-processing on all png images
Converting PDF image to multiple png files
/home/edd/Documents/Projects/companies_house/explore/data/old/read_check/wrong/10550078_2018-09-26.pdf
Performing pre-processing on all png images
Converting PDF image to multiple png files
/home/edd/Documents/Projects/companies_house/explore/data/old/read_check/wrong/06522069_2018-08-21.pdf
Performing pre-processing on all png images
Converting PDF image to multiple png files
/home/edd/Documents/Projects/companies_house/explore/data/old/read_check/wrong/02119876_2017-09-21.pdf
Performing pre-processing on all png images
Converting PDF image to multiple png files
/home/edd/Documents/Projects/companies_house/explore/data/old/read_check/wrong/10355449_2018-11-06.pdf
Performing pre-processing on all png images
Converting PDF image to multiple png files
/home/edd/Documents/Projects/companies_house/explore/data/old/read_check/wrong/OC311413_2018-09-14.pdf
Performing pre-processing on all png images
Converting PDF image to multiple png files
/home/edd/Documents/Projects/companies_house/explore/data/old/read_check/wrong/05084383_2018-10-01.pdf
Performing pre-processing on all png images
Converting PDF image to multiple png files
/home/edd/Documents/Projects/companies_house/explore/data/old/read_check/wrong/10672557_2018-12-12.pdf
Performing pre-processing on all png images
Converting PDF image to multiple png files
/home/edd/Documents/Projects/companies_house/explore/data/old/read_check/wrong/05494889_2018-10-01.pdf
Performing pre-processing on all png images
Converting PDF image to multiple png files
/home/edd/Documents/Projects/companies_house/explore/data/old/read_check/wrong/09487709_2018-12-14.pdf
Performing pre-processing on all png images
Converting PDF image to multiple png files
/home/edd/Documents/Projects/companies_house/explore/data/old/read_check/wrong/10479373_2018-06-21.pdf
Performing pre-processing on all png images
Converting PDF image to multiple png files
/home/edd/Documents/Projects/companies_house/explore/data/old/read_check/wrong/10611038_2018-11-08.pdf
Performing pre-processing on all png images
Converting PDF image to multiple png files
/home/edd/Documents/Projects/companies_house/explore/data/old/read_check/wrong/10939817_2018-12-12.pdf
Performing pre-processing on all png images
Converting PDF image to multiple png files
/home/edd/Documents/Projects/companies_house/explore/data/old/read_check/wrong/10070786_2018-10-31.pdf
Performing pre-processing on all png images
Converting PDF image to multiple png files
/home/edd/Documents/Projects/companies_house/explore/data/old/read_check/wrong/SC307593_2017-11-24.pdf
Performing pre-processing on all png images
Converting PDF image to multiple png files
/home/edd/Documents/Projects/companies_house/explore/data/old/read_check/wrong/09981158_2017-06-01.pdf
Performing pre-processing on all png images
Converting PDF image to multiple png files
/home/edd/Documents/Projects/companies_house/explore/data/old/read_check/wrong/10655161_2018-11-29.pdf
Performing pre-processing on all png images
Converting PDF image to multiple png files
/home/edd/Documents/Projects/companies_house/explore/data/old/read_check/wrong/10341209_2018-05-22.pdf
Performing pre-processing on all png images
Converting PDF image to multiple png files
/home/edd/Documents/Projects/companies_house/explore/data/old/read_check/wrong/06705523_2018-11-19.pdf
Performing pre-processing on all png images
Converting PDF image to multiple png files
/home/edd/Documents/Projects/companies_house/explore/data/old/read_check/wrong/04740006_2018-12-09.pdf
Performing pre-processing on all png images

In [34]:
data_cords_lst = [xip.make_measurements(data) 
                  for data in tqdm_notebook(data_lst)]

HBox(children=(IntProgress(value=0, max=25), HTML(value='')))

In [35]:
data_lst[0].columns.to_list()

['level',
 'page_num',
 'block_num',
 'par_num',
 'line_num',
 'word_num',
 'left',
 'top',
 'width',
 'height',
 'conf',
 'text',
 'csv_num',
 'centre_x',
 'centre_y',
 'right',
 'bottom',
 'area']

In [36]:
data_cords_lst[0].columns.to_list()

['level',
 'page_num',
 'block_num',
 'par_num',
 'line_num',
 'word_num',
 'left',
 'top',
 'width',
 'height',
 'conf',
 'text',
 'csv_num',
 'centre_x',
 'centre_y',
 'right',
 'bottom',
 'area']

In [37]:
data_numeric_lst = []
for data in tqdm_notebook(data_cords_lst):
    data["numerical"] = xip.convert_to_numeric(data['text'])
    data_numeric_lst.append(data)

HBox(children=(IntProgress(value=0, max=25), HTML(value='')))

In [39]:
data_numeric_lst[0].columns.to_list()

['level',
 'page_num',
 'block_num',
 'par_num',
 'line_num',
 'word_num',
 'left',
 'top',
 'width',
 'height',
 'conf',
 'text',
 'csv_num',
 'centre_x',
 'centre_y',
 'right',
 'bottom',
 'area',
 'numerical']

In [38]:
balance_pages_lst = [xip.find_balance_sheet_pages(data)
                     for data in tqdm_notebook(data_numeric_lst)]

HBox(children=(IntProgress(value=0, max=25), HTML(value='')))

In [44]:
balance_pages_df = pd.DataFrame({"file" : pdf_lst,
                                 "balance_pages" : balance_pages_lst
                                })

In [45]:
balance_pages_df

                       file balance_pages
0   10582063_2018-10-31.pdf         [1.0]
1   03790585_2018-09-30.pdf            []
2   02709473_2019-01-17.pdf            []
3   09618523_2018-02-21.pdf         [6.0]
4   10832155_2019-02-05.pdf         [2.0]
5   10602392_2018-10-17.pdf         [2.0]
6   10550078_2018-09-26.pdf    [2.0, 3.0]
7   06522069_2018-08-21.pdf            []
8   02119876_2017-09-21.pdf         [3.0]
9   10355449_2018-11-06.pdf            []
10  OC311413_2018-09-14.pdf         [3.0]
11  05084383_2018-10-01.pdf    [1.0, 2.0]
12  10672557_2018-12-12.pdf            []
13  05494889_2018-10-01.pdf    [1.0, 4.0]
14  09487709_2018-12-14.pdf            []
15  10479373_2018-06-21.pdf   [7.0, 11.0]
16  10611038_2018-11-08.pdf            []
17  10939817_2018-12-12.pdf         [3.0]
18  10070786_2018-10-31.pdf    [4.0, 8.0]
19  SC307593_2017-11-24.pdf         [3.0]
20  09981158_2017-06-01.pdf         [2.0]
21  10655161_2018-11-29.pdf         [1.0]
22  10341209_2018-05-22.pdf         [2.0]
23  06705523_2018-11-19.pdf            []
24  04740006_2018-12-09.pdf            []

In [89]:
balance_page_mask = [not not row.balance_pages for index, row in balance_pages_df.iterrows()]
balance_page_count = sum(balance_page_mask)

In [90]:
balance_page_count

16

We have pages returning at least one balance page, but no data

In [91]:
balance_pages_df[balance_page_mask]

                       file balance_pages
0   10582063_2018-10-31.pdf         [1.0]
3   09618523_2018-02-21.pdf         [6.0]
4   10832155_2019-02-05.pdf         [2.0]
5   10602392_2018-10-17.pdf         [2.0]
6   10550078_2018-09-26.pdf    [2.0, 3.0]
8   02119876_2017-09-21.pdf         [3.0]
10  OC311413_2018-09-14.pdf         [3.0]
11  05084383_2018-10-01.pdf    [1.0, 2.0]
13  05494889_2018-10-01.pdf    [1.0, 4.0]
15  10479373_2018-06-21.pdf   [7.0, 11.0]
17  10939817_2018-12-12.pdf         [3.0]
18  10070786_2018-10-31.pdf    [4.0, 8.0]
19  SC307593_2017-11-24.pdf         [3.0]
20  09981158_2017-06-01.pdf         [2.0]
21  10655161_2018-11-29.pdf         [1.0]
22  10341209_2018-05-22.pdf         [2.0]

let's take the first one and see how it do

... taken (and slightly modified) from xip.process_PDF

,level,page_num,block_num,par_num,line_num,word_num,left,top,width,height,conf,text,csv_num,centre_x,centre_y,right,bottom,area,numerical
0,1,1,0,0,0,0,0,0,2480,3509,-1,None,1,1240.0,1754.5,2480,3509,8702320,NaN
1,2,1,1,0,0,0,178,214,2123,45,-1,None,1,1239.5,236.5,2301,259,95535,NaN
2,3,1,1,1,0,0,178,214,2123,45,-1,None,1,1239.5,236.5,2301,259,95535,NaN
3,4,1,1,1,1,0,178,214,2123,45,-1,None,1,1239.5,236.5,2301,259,95535,NaN
4,5,1,1,1,1,1,178,214,222,35,96,ALLISON,1,289.0,231.5,400,249,7770,NaN
5,5,1,1,1,1,2,415,214,224,35,96,JEFFERY,1,527.0,231.5,639,249,7840,NaN
6,5,1,1,1,1,3,654,214,165,35,96,LASER,1,736.5,231.5,819,249,5775,NaN
7,5,1,1,1,1,4,832,214,104,35,96,AND,1,884.0,231.5,936,249,3640,NaN
8,5,1,1,1,1,5,954,214,117,35,96,SKIN,1,1012.5,231.5,1071,249,4095,NaN
9,5,1,1,1,1,6,1088,214,175,35,96,CLINIC,1,1175.5,231.5,1263,249,6125,NaN
10,5,1,1,1,1,7,1280,214,217,35,96,LIMITED,1,1388.5,231.5,1497,249,7595,NaN
11,5,1,1,1,1,8,1677,214,224,45,95,Registered,1,1789.0,236.5,1901,259,10080,NaN
12,5,1,1,1,1,9,1918,214,173,35,96,Number,1,2004.5,231.5,2091,249,6055,NaN
13,5,1,1,1,1,10,2108,214,193,35,95,10582063,1,2204.5,231.5,2301,249,6755,10582063.0
14,2,1,2,0,0,0,834,561,814,34,-1,None,1,1241.0,578.0,1648,595,27676,NaN
15,3,1,2,1,0,0,834,561,814,34,-1,None,1,1241.0,578.0,1648,595,27676,NaN
16,4,1,2,1,1,0,834,561,814,34,-1,None,1,1241.0,578.0,1648,595,27676,NaN
17,5,1,2,1,1,1,834,561,167,34,96,Balance,1,917.5,578.0,1001,595,5678,NaN
18,5,1,2,1,1,2,1015,561,115,34,96,Sheet,1,1072.5,578.0,1130,595,3910,NaN
19,5,1,2,1,1,3,1146,571,39,24,95,as,1,1165.5,583.0,1185,595,936,NaN
20,5,1,2,1,1,4,1202,564,39,31,95,at,1,1221.5,579.5,1241,595,1209,NaN
21,5,1,2,1,1,5,1256,561,46,34,95,30,1,1279.0,578.0,1302,595,1564,30.0
22,5,1,2,1,1,6,1319,561,219,34,95,November,1,1428.5,578.0,1538,595,7446,NaN
23,5,1,2,1,1,7,1553,561,95,34,96,2017,1,1600.5,578.0,1648,595,3230,2017.0
24,2,1,3,0,0,0,180,684,1911,537,-1,None,1,1135.5,952.5,2091,1221,1026207,NaN
25,3,1,3,1,0,0,180,684,1911,537,-1,None,1,1135.5,952.5,2091,1221,1026207,NaN
26,4,1,3,1,1,0,1994,684,97,36,-1,None,1,2042.5,702.0,2091,720,3492,NaN
27,5,1,3,1,1,1,1994,684,97,36,96,2017,1,2042.5,702.0,2091,720,3492,2017.0
28,4,1,3,1,2,0,2069,751,22,33,-1,None,1,2080.0,767.5,2091,784,726,NaN
29,5,1,3,1,2,1,2069,751,22,33,92,Â£,1,2080.0,767.5,2091,784,726,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
222,5,1,7,1,2,15,2207,2268,43,35,96,of,1,2228.5,2285.5,2250,2303,1505,NaN
223,4,1,7,1,3,0,178,2333,504,45,-1,None,1,430.0,2355.5,682,2378,22680,NaN
224,5,1,7,1,3,1,178,2333,59,36,96,the,1,207.5,2351.0,237,2369,2124,NaN
225,5,1,7,1,3,2,252,2333,222,45,96,Companies,1,363.0,2355.5,474,2378,9990,NaN
226,5,1,7,1,3,3,489,2333,70,34,96,Act,1,524.0,2350.0,559,2367,2380,NaN
227,5,1,7,1,3,4,573,2333,109,36,89,2006.,1,627.5,2351.0,682,2369,3924,2006.0
0,1,1,0,0,0,0,0,0,2480,3509,-1,None,2,1240.0,1754.5,2480,3509,8702320,NaN
1,2,1,1,0,0,0,581,189,1320,280,-1,None,2,1241.0,329.0,1901,469,369600,NaN
2,3,1,1,1,0,0,581,189,1320,280,-1,None,2,1241.0,329.0,1901,469,369600,NaN
3,4,1,1,1,1,0,929,189,624,45,-1,None,2,1241.0,211.5,1553,234,28080,NaN
4,5,1,1,1,1,1,929,189,223,45,96,Registered,2,1040.5,211.5,1152,234,10035,NaN
5,5,1,1,1,1,2,1167,189,176,34,96,Number,2,1255.0,206.0,1343,223,5984,NaN
6,5,1,1,1,1,3,1361,189,192,34,96,10582063,2,1457.0,206.0,1553,223,6528,10582063.0
7,4,1,1,1,2,0,581,312,1320,34,-1,None,2,1241.0,329.0,1901,346,44880,NaN
8,5,1,1,1,2,1,581,312,221,34,95,ALLISON,2,691.5,329.0,802,346,7514,NaN
9,5,1,1,1,2,2,817,313,222,33,95,JEFFERY,2,928.0,329.5,1039,346,7326,NaN
10,5,1,1,1,2,3,1055,312,164,34,95,LASER,2,1137.0,329.0,1219,346,5576,NaN
11,5,1,1,1,2,4,1233,313,105,32,95,AND,2,1285.5,329.0,1338,345,3360,NaN
12,5,1,1,1,2,5,1355,312,118,34,95,SKIN,2,1414.0,329.0,1473,346,4012,NaN
13,5,1,1,1,2,6,1490,313,175,33,96,CLINIC,2,1577.5,329.5,1665,346,5775,NaN
14,5,1,1,1,2,7,1682,313,219,32,96,LIMITED,2,1791.5,329.0,1901,345,7008,NaN
15,4,1,1,1,3,0,1040,435,402,34,-1,None,2,1241.0,452.0,1442,469,13668,NaN
16,5,1,1,1,3,1,1040,435,193,34,96,Dormant,2,1136.5,452.0,1233,469,6562,NaN
17,5,1,1,1,3,2,1247,435,195,34,96,Accounts,2,1344.5,452.0,1442,469,6630,NaN
18,2,1,2,0,0,0,1044,556,395,36,-1,None,2,1241.5,574.0,1439,592,14220,NaN
19,3,1,2,1,0,0,1044,556,395,36,-1,None,2,1241.5,574.0,1439,592,14220,NaN
20,4,1,2,1,1,0,1044,556,395,36,-1,None,2,1241.5,574.0,1439,592,14220,NaN
21,5,1,2,1,1,1,1044,556,47,36,95,30,2,1067.5,574.0,1091,592,1692,30.0
22,5,1,2,1,1,2,1107,558,219,34,95,November,2,1216.5,575.0,1326,592,7446,NaN
23,5,1,2,1,1,3,1341,556,98,36,96,2017,2,1390.0,574.0,1439,592,3528,2017.0

In [97]:
csv_number = balance_pages_df.balance_pages[0][0]
data = data_numeric_lst[0]

page_df = data[data['csv_num'] == csv_number]

# Determine where the lines are
detected_lines = xip.detect_lines(page_df)

# Get all detectable balance sheet stats
results = xip.extract_lines(page_df, detected_lines)

In [105]:
page_df.text.to_list()

[None,
 None,
 None,
 None,
 'ALLISON',
 'JEFFERY',
 'LASER',
 'AND',
 'SKIN',
 'CLINIC',
 'LIMITED',
 'Registered',
 'Number',
 '10582063',
 None,
 None,
 None,
 'Balance',
 'Sheet',
 'as',
 'at',
 '30',
 'November',
 '2017',
 None,
 None,
 None,
 '2017',
 None,
 'Â£',
 None,
 'Called',
 'up',
 'share',
 'capital',
 'not',
 'paid',
 '100',
 None,
 'Net',
 'assets',
 '100',
 None,
 'Issued',
 'share',
 'capital',
 None,
 '100',
 'Ordinary',
 'Shares',
 'of',
 'Â£',
 '1',
 'each',
 '100',
 None,
 'Total',
 'Shareholder',
 'funds',
 '100',
 None,
 'STATEMENTS',
 None,
 None,
 None,
 'a.',
 'For',
 'the',
 'year',
 'ending',
 '30',
 'November',
 '2017',
 'the',
 'company',
 'was',
 'entitled',
 'to',
 'exemption',
 'under',
 'section',
 '480',
 None,
 'of',
 'the',
 'Companies',
 'Act',
 '2006',
 'relating',
 'to',
 'dormant',
 'companies.',
 None,
 None,
 'b.',
 'The',
 'members',
 'have',
 'not',
 'required',
 'the',
 'company',
 'to',
 'obtain',
 'an',
 'audit',
 'in',
 'accordance',
 'with',
 'section',
 '476',
 'of',
 None,
 'the',
 'Companies',
 'Act',
 '2006.',
 None,
 None,
 'c.',
 'The',
 'directors',
 'acknowledge',
 'their',
 'responsibilities',
 'for',
 'complying',
 'with',
 'the',
 'requirements',
 'of',
 'the',
 'Act',
 None,
 'with',
 'respect',
 'to',
 'accounting',
 'records',
 'and',
 'the',
 'preparation',
 'of',
 'accounts.',
 None,
 None,
 'd.',
 'These',
 'accounts',
 'have',
 'been',
 'prepared',
 'in',
 'accordance',
 'with',
 'the',
 'provisions',
 'applicable',
 'to',
 'companies',
 None,
 'subject',
 'to',
 'the',
 'small',
 'companies',
 'regime,',
 None,
 None,
 None,
 'Approved',
 'by',
 'the',
 'Board',
 'on',
 '31',
 'October',
 '2018',
 None,
 None,
 None,
 'And',
 'signed',
 'on',
 'their',
 'behalf',
 'by:',
 None,
 'Allison',
 'Jeffery,',
 'Director',
 None,
 None,
 None,
 'This',
 'document',
 'was',
 'delivered',
 'using',
 'electronic',
 'communications',
 'and',
 'authenticated',
 'in',
 'accordance',
 'with',
 'the',
 None,
 "registrar's",
 'rules',
 'relating',
 'to',
 'electronic',
 'form,',
 'authentication',
 'and',
 'manner',
 'of',
 'delivery',
 'under',
 'section',
 '1072',
 'of',
 None,
 'the',
 'Companies',
 'Act',
 '2006.']

So we pull out the correct page with the information on there.

In [108]:
detected_lines

[{'left': 0, 'right': 2480, 'top': 214, 'bottom': 259},
 {'left': 0, 'right': 2480, 'top': 561, 'bottom': 595},
 {'left': 0, 'right': 2480, 'top': 684, 'bottom': 720},
 {'left': 0, 'right': 2480, 'top': 751, 'bottom': 784},
 {'left': 0, 'right': 2480, 'top': 816, 'bottom': 862},
 {'left': 0, 'right': 2480, 'top': 886, 'bottom': 922},
 {'left': 0, 'right': 2480, 'top': 955, 'bottom': 1000},
 {'left': 0, 'right': 2480, 'top': 1021, 'bottom': 1066},
 {'left': 0, 'right': 2480, 'top': 1092, 'bottom': 1128},
 {'left': 0, 'right': 2480, 'top': 1186, 'bottom': 1221},
 {'left': 0, 'right': 2480, 'top': 1308, 'bottom': 1353},
 {'left': 0, 'right': 2480, 'top': 1374, 'bottom': 1419},
 {'left': 0, 'right': 2480, 'top': 1439, 'bottom': 1485},
 {'left': 0, 'right': 2480, 'top': 1505, 'bottom': 1551},
 {'left': 0, 'right': 2480, 'top': 1571, 'bottom': 1617},
 {'left': 0, 'right': 2480, 'top': 1638, 'bottom': 1682},
 {'left': 0, 'right': 2480, 'top': 1703, 'bottom': 1748},
 {'left': 0, 'right': 2480, 'top': 1769, 'bottom': 1815},
 {'left': 0, 'right': 2480, 'top': 1890, 'bottom': 1935},
 {'left': 0, 'right': 2480, 'top': 2013, 'bottom': 2058},
 {'left': 0, 'right': 2480, 'top': 2081, 'bottom': 2124},
 {'left': 0, 'right': 2480, 'top': 2201, 'bottom': 2247},
 {'left': 0, 'right': 2480, 'top': 2267, 'bottom': 2312},
 {'left': 0, 'right': 2480, 'top': 2333, 'bottom': 2378}]

we detect some lines....

In [109]:
results

Empty DataFrame
Columns: []
Index: []

buuuuut, no results
lets run this through xip.extract_lines

In [111]:
# Look, dark magic!
finance_regex = r'(.*)\s+(\(?\-?[\,0-9]+\)?)\s+(\(?\-?[\,0-9]+\)?)$'
words_df = page_df[page_df['word_num'] > 0]

In [113]:
HTML(words_df.to_html())

cool, we select words and that

In [122]:
for line in detected_lines:
    inline = (words_df['bottom'] <= line['bottom']) & (words_df['top'] >= line['top'])
    line_text = " ".join([str(x) for x in words_df[inline]['text']] )
    line_text = re.sub(r'[^a-zA-Z0-9. +]', "", line_text)

In [123]:
line_text

'the Companies Act 2006.'

In [125]:
re.match(finance_regex, line_text)

so, we don't pull out any of the important data

In [126]:
inline.to_list()

[False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 True,
 True,
 True,
 True]

Looks like the lines doesn't match the text...